@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: clamp(24px, 2.08vw, 30px);
  height: 100vh;
  width: 100%;
  padding: 2rem;
  color: #1b1a1a;
  background-image: url(./images/373522_main.jpeg);
}
h1, p{
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.gamecross-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
  background-image: url("./images/wooden-floor-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.gamecross-cell {
  height: 200px;
  width: 200px;
  border: 1px solid grey;
}

.gamecross-cell-cross {
  background-image: url("./images/cross.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gamecross-cell-zero {
  background-image: url("./images/zero.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.winning-line {
  position: absolute;
  background: #ff0;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 10;
}

.locked-div {
  pointer-events: none;
}
