@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.gamecross-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
  background-image: url("./images/wooden-floor-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.gamecross-cell {
  height: 200px;
  width: 200px;
  border: 1px solid grey;
}

.gamecross-cell-cross {
  background-image: url("./images/cross.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gamecross-cell-zero {
  background-image: url("./images/zero.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.winning-line {
  position: absolute;
  background: #ff0;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 10;
}

.locked-div {
  pointer-events: none;
}



.advice-ball__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.advice-ball {
  background-image: url('./images/ball.PNG');
  width: 180px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  animation-duration: .5s;
  opacity: 0;
  transition: all .7s;
}
.advice-ball__light{
  background-image: url('./images/pngwing.com.png');
  width: 100px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  animation-duration: 5s;
}
.advice__text {
  transition: all 1s;
  opacity: 0;
}
@keyframes light-animation {
  from {
    transform: scale(1);
  }
  16% {
    transform: scale(2);
  }
  36% {
    transform: scale(1);
  }
  52% {
    transform: scale(2);
  }
  68% {
    transform: scale(1);
  }
  84% {
    transform: scale(2);
  }
  94% {
    transform: scale(2.5);

  }
  to {
    transform: scale(3);
  }
}

@keyframes container-animation {
  0% { transform: scale(1); }
  20% { transform: scale(1.5); }
  40% { transform: scale(2); }
  50% { transform: scale(2.5); }
  60% { transform: scale(3); }
  70% { transform: scale(3.5); }
  80% { transform: scale(4); }
  90% { transform: scale(4.5); }
  100% { 
    transform: scale(5); 
    opacity: 0;
  }
}